{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "node": true
  },
  "extends": ["plugin:vue/essential", "@vue/airbnb", "@vue/prettier", "@vue/typescript"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "linebreak-style": ["error", "windows"],
    "no-multi-assign": "off",
    "no-underscore-dangle": "warn",
    "eqeqeq": "warn",
    "no-param-reassign": "warn",
    "camelcase": "warn",
    "class-methods-use-this": "off",
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "no-console": "warn",
    "no-debugger": "warn",
    "import/prefer-default-export": "off",
    "import/no-extraneous-dependencies": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["error"],
    "no-unused-expressions": "off",
    "@typescript-eslint/no-unused-expressions": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": "webpack.config.js"
    }
  }
}
