$viewport: (
  min-width-4: 'min-width: 480px',
  min-width-7: 'min-width: 768px',
  min-width-9: 'min-width: 992px',
  min-width-12: 'min-width: 1200px',
  max-width-4: 'max-width: 479.98px',
  max-width-7: 'max-width: 767.98px',
  max-width-9: 'max-width: 991.98px',
  max-width-12: 'max-width: 1199.98px',
  min-height-4: 'min-height: 480px',
  min-height-7: 'min-height: 768px',
  min-height-9: 'min-height: 992px',
  min-height-12: 'min-height: 1200px',
  max-height-4: 'max-height: 479.98px',
  max-height-7: 'max-height: 767.98px',
  max-height-9: 'max-height: 991.98px',
  max-height-12: 'max-height: 1199.98px',
  landscape: 'orientation: landscape',
  portrait: 'orientation: portrait'
);

$easing: (
  standard: (
    productive: cubic-bezier(0.2, 0, 0.38, 0.9),
    expressive: cubic-bezier(0.4, 0.14, 0.3, 1)
  ),
  entrance: (
    productive: cubic-bezier(0, 0, 0.38, 0.9),
    expressive: cubic-bezier(0, 0, 0.3, 1)
  ),
  exit: (
    productive: cubic-bezier(0.2, 0, 1, 0.9),
    expressive: cubic-bezier(0.4, 0.14, 1, 1)
  )
);
