@mixin hand-drawn-border($border-color: #41403e, $border-width: 2px) {
  $deviation: random(25);
  $lengths: (
    1: (255 - ($deviation / 2)) + 'px',
    2: (255 - $deviation) + 'px',
    3: $deviation + 'px'
  );

  $flip: random(2);

  $border-radius: (
    1: map-get($lengths, 1) map-get($lengths, 3) map-get($lengths, 2) map-get($lengths, 3),
    2: map-get($lengths, 3) map-get($lengths, 2) map-get($lengths, 3) map-get($lengths, 1)
  );

  border: solid $border-width $border-color;
  border-radius: #{
    map-get($border-radius, $flip)
    unquote('/')
    map-get($border-radius, 3 - $flip)
    };
}
